.page {
    background-color: rgb(218, 218, 218);
    width: 98vw;
    justify-items: center;
    position: absolute;
    margin-top: 7.5rem;
    margin-top: 91.6%;
    margin-bottom: 0.2rem;
    height: 150vh;
    outline-style: outset;

  }
  
  .headings {
   display: flex;
   align-content: center;
   margin-left: 30rem;
  }
  
  .team {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
  }
  
  .team img {
    width: 300px;
  }
  
  .heading-2 {
    text-align: center;
    margin-top: 5%;
  }
  
  .pricing__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
  }
  
  .price-item {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 5px;
    width: 33%;
    background: #fff;
  }
  
  .pricing__card-top {
    padding: 30px;
    border-bottom: 1px solid #d3cef2;
    text-align: center;
  }
  
  .pricing__card-top h2 {
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
  }
  
  .pricing__card-top .pricing {
    font-size: 1.4rem;
  }
  
  .pricing__card-top .pricing span {
    font-size: 1rem;
    color: #666;
  }
  
  .pricing__item .services {
    padding: 20px;
  }
  
  .pricing__item .services ul li {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    color: rgb(66, 65, 65);
    line-height: 35px;
  }
  
  .services {
    text-align: center;
    justify-content: center;
    justify-items: center;
    outline-style: dashed;
    background-color: #62d5dd;
    color: blue;
    align-items: center;
  }
  
  .services button {
    background-color: rgb(0, 89, 255);
    color: white;
    /* font-size: 20px; */
    /* padding: 10px 60px; */
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
  }